<div id="games">
    <div class="game-search">
      {{input value=search placeholder="Search"}}
    </div>

    {{game-list games=model clickAction="selectGame"}}

    <div class="game-footer">
      {{model.total}} games have been streamed.
    </div>
</div>