<section class="selected-game">
  {{game-chart game=game}}
</section>

<section class="most-popular">
  <div class="container">
      <div class="item">
          <div class="content">
              <div class="title">Game with the most viewers</div>
              <div class="cover">
                  <img src="http://static-cdn.jtvnw.net/ttv-boxart/Counter-Strike:%20Global%20Offensive-136x190.jpg" alt="Counter-Strike: Global Offensive">
              </div>
              <div class="name">Counter-Strike: Global Offensive</div>
              <div class="date">22/04/2016</div>
          </div>
      </div>
      <div class="item">
          <div class="content">
              <div class="title">Game with the most channels</div>
              <div class="cover">
                  <img src="http://static-cdn.jtvnw.net/ttv-boxart/Counter-Strike:%20Global%20Offensive-136x190.jpg" alt="Counter-Strike: Global Offensive">
              </div>
              <div class="name">Counter-Strike: Global Offensive</div>
              <div class="date">22/04/2016</div>
          </div>
      </div>
  </div>
</section>

<section class="most-recorded">
    <div class="container">
        <div class="item">
            <div class="content">
                <div class="title">Game with the most viewers</div>
                <div class="value">9,999,999</div>
                <div class="date">22/04/2016</div>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="title">Game with the most channels</div>
                <div class="value">9,999,999</div>
                <div class="date">22/04/2016</div>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="title">Game with the most channels</div>
                <div class="value">9,999,999</div>
                <div class="date">22/04/2016</div>
            </div>
        </div>
    </div>
</section>