<div id="loading">
    <div class="msg">Loading stuff, Should be ready in a second.</div>
    <div class="loader">
        <div class="loader-inner ball-scale-ripple-multiple">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>